body {
  padding-top: 40px;
  background: url('../img/grid.png') repeat fixed;
}
.navbar .brand {
  margin-left: 0;
}

#top {
  padding-top: 30px;
}

#possible-roles {
  font-size: 15px;
  font-style: italic;
  text-align: center;
  list-style: none;  
}

#possible-roles li {
  display: inline;
  padding-right: 1.5em;
  line-height: 2em;
}

/* http://www.zeldman.com/2012/03/01/replacing-the-9999px-hack-new-image-replacement/ */
.hide-text {
text-indent: 100%;
white-space: nowrap;
overflow: hidden;
}